.header {
  background-image: url("./images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.icon-1 {
  size: 0.5rem;
}
.footer {
  background-color: rgb(177, 181, 184);
}
